@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.ttf') format('truetype');
}

:global(#app) {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background-color: #181818; // hard-coded-color
}

:global(body) {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.text-center {
  text-align: center;
}

.text-title {
  color: white; // hard-coded-color
}

.text-sub {
  color: #B5B5BF; // hard-coded-color
  font-style: italic;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}